@font-face {
  font-family: 'Quasimodo';
  src: url('fonts/quasimodo.ttf');
}


html, body, button {
	font-size: 12px;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: "Quasimodo", sans-serif;
	background: #FFD09A;
}


header {
	background-color: #824D25;
	color: #FFFFFF;
	height: 4.9rem;
	position: relative;
	z-index: 2;
}

header #btnInstall {
	background: url(images/add.png) no-repeat left center;
	width: 3rem;
	border: none;
	height: 100%;
	margin: 0;
}

header h1 {
	display: block;
	font-weight: normal;
	font-size: 2.2rem;
	line-height: 4.9rem;
	height: 100%;
	margin: 0 0 0 2rem;
	padding: 0 0 0 1rem;
	overflow: hidden;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
}

header ul {
  margin: 0px;
  padding: 0px;
  float: right;
  height: 100%;
  min-width: 3rem;
}

header li {
  float: left;
  list-style: none;
  background: url("images/separator.png") no-repeat scroll left top;
  min-width: 3rem;
  padding: 0rem 0.5rem 0rem 0.5rem;
  text-align: center;
  width: auto;
  height: 100%;
}

header li:active {
  background-color: #e66000;
}

footer {
  z-index: 2;
  background:#e8cdb2;
  background:-moz-linear-gradient(top,#e8cdb2 0%,#98653a 100%);
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#e8cdb2),color-stop(100%,#98653a));
  background:-webkit-linear-gradient(top,#e8cdb2 0%,#98653a 100%);
  background:-o-linear-gradient(top,#e8cdb2 0%,#98653a 100%);
  background:-ms-linear-gradient(top,#e8cdb2 0%,#98653a 100%);
  background:linear-gradient(top,#e8cdb2 0%,#98653a 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8cdb2',endColorstr='#98653a',GradientType=0);
  color: #fff;
  position: absolute;
  width:100%;
  height:5rem;
  bottom:0;
}

footer ul {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height:100%;
}

footer li {
  float: left;
  width: 50%;
  height: 100%;
  list-style: none;
  margin: 0;
  text-align: center;
}

footer li button {
  display: inline-block;
  background: transparent;
  border: none;
  height: 100%;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
}


.picker
{
	width: 5.8rem;
	height: 5.8rem;
}

.counters
{
	margin:1rem 5rem 0rem 5rem;
	clear:left;
	width: 20rem;
}

.counters h1
{
	text-align: center;
	font-size: 3.9rem;
	margin:0;
}

.counters h2
{
	text-align:center;
	font-size: 1.2rem;
	margin: 0;
}

#body{
  top: 3.2rem;
  left:0.5rem;
  right:1rem;
  bottom: 6rem;
  position: absolute;
  color: #824D25;
  text-align:center;
}

/* Character page */

#profile input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  resize: none;
  height: 4rem;
  padding: 0.5rem 1rem;
  margin: 2rem 0rem 2rem 1rem;
  width:16rem;
  float:left;
  border: 1px solid #D1D1D1;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  font-family: "Quasimodo",Sans-serif;
  font-size: 2rem;
}

#profile
{
	float:n;
	margin:3.5rem 1rem 0rem 1rem;
}

#profilePicture
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid #D1D1D1;
	border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
	background-color: gray;
	width: 6rem;
	height: 6rem;
	float:left;
}

#levelCounter
{
	float:left;
}

#gearCounter
{
	float:right;
}

#power
{
	float:n;
	clear:left;
}

#castle
{
	width: 12rem;
	height: 12rem;
	position: absolute;
	top: 65%;
	bottom: 0; 
	right: 0;
	z-index: 0;
    pointer-events:none;
}


/* Battle page */

#battle
{
	margin:6.5rem 0rem 0rem 0rem;
}

#monsterLevelCounter
{
	float: left;
	clear: left;
}

#battleModifier
{
	float: right;
}
